[defaults]
remote_user = ubuntu
roles_path = galaxy_roles/
host_key_checking = false
vault_password_file = ./.vault_pass

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False